.skeleton {
  background: #e5e7eb;
  border-radius: 6px;
  animation: pulse 1.5s infinite ease-in-out;
}

.grid {
  display: grid;
  gap: 40px;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

.info-grid {
  margin: 20px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

@keyframes pulse {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}

.flag-skeleton {
  width: 100%;
  height: 357px;
  aspect-ratio: 3/2;
}

.title-skeleton {
  width: 50%;
  height: 32px;
  margin-bottom: 8px;
}

.subtitle-skeleton {
  width: 40%;
  height: 16px;
  margin-bottom: 6px;
}

.label-skeleton {
  width: 140px;
  height: 14px;
  margin-bottom: 4px;
}

.value-skeleton {
  width: 70px;
  height: 14px;
  margin-bottom: 4px;
}

.border-title-skeleton {
  width: 120px;
  height: 16px;
  margin-bottom: 10px;
}

.border-list {
  display: flex;
  flex-wrap: wrap;
}

.badge-skeleton {
  padding: 6px 10px;
  width: 80px;
  height: 24px;
  border-radius: 20px;
}
