<div class="Search_container">
  <div class="Search_input_container">
    <input type="text" placeholder="Search for a country..." class="Search_input" />
  </div>
  <div class="Filter_container">
    <select class="Filter_select">
      <option value="">All Regions</option>
      <option value="Africa">Africa</option>
      <option value="Americas">Americas</option>
      <option value="Asia">Asia</option>
      <option value="Europe">Europe</option>
      <option value="Oceania">Oceania</option>
    </select>
  </div>

</div>
