<div class="body">
  <header class="header">
    <div class="container header-content">
      <h1 class="header_title">Country Explorer</h1>
    </div>
  </header>

  <main class="main">
    <app-search-and-filter></app-search-and-filter>
    <p>Nenhum país encontrado.</p>

    <div class="country_cards">
      <app-country-card></app-country-card>
      <app-country-card></app-country-card>
      <app-country-card></app-country-card>
      <app-country-card></app-country-card>
    </div>
  </main>
</div>