<div class="body">
  <header class="header">
    <div class="container header-content">
      <h1 class="header_title">Country Explorer</h1>
    </div>
  </header>

  <main class="container main">
    <app-search-and-filter></app-search-and-filter>
    @if(!ref.isLoading()){
      @if(ref.value().length > 0) {
       <p>{{ ref.value().length }} países encontrados.</p>
    } @else {
    <p>Nenhum país encontrado.</p>}
    }

    <div class="country_cards">
      @if (ref.isLoading()) {
        @if (ref.isLoading()) {
          @for (item of [1, 2, 3, 4, 5, 6,7,8,9,10,11,12]; track item) {
            <app-card-skeleton></app-card-skeleton>
          }
        }
      }

      

      @if (ref.value(); as countries) {
        @for (country of countries; track $index) {
          <app-country-card [country]="country"></app-country-card>
        }
      }
    </div>
  </main>
</div>
